In [2]:
import pandas as pd
data = pd.DataFrame(pd.read_table("Dundee1950.tsv"))
data['place']=[string.title() for string in data['place']]
data=data.dropna()# delete ï¼®an
data['title']=[string.title() for string in data['title']]
data=data.drop_duplicates(subset=['title','date','place'], keep=False)
data.head()

            place      lat    long                          title        date
0          Dundee  56.4584 -2.9737      Socialist Window-Dressing  1950-01-03
1  Harriet Street  56.4717 -2.9589        Bawbee Bets Now A Penny  1950-01-03
2          Dundee  56.4584 -2.9737  Was 50 Years In Jute Industry  1950-01-03
3        Gateside  56.5870 -2.9148  Was 50 Years In Jute Industry  1950-01-03
4  Dudhope Street  56.4649 -2.9741  Was 50 Years In Jute Industry  1950-01-03

In [3]:
from collections import Counter
lst= data['title']
c = Counter(i.capitalize() for x in lst for i in x.split())
print(c.most_common(200))

[('Dundee', 1533), ('For', 1438), ('In', 1375), ('To', 1113), ('At', 841), ('And', 652), ('The', 649), ('Angus', 586), ('On', 539), ('A', 473), ('Of', 469), ('Estates', 469), ('Arbroath', 425), ('Man', 370), ('New', 356), ('Perth', 335), ('Fife', 328), ('Forfar', 327), ('Montrose', 299), ('From', 237), ('Brechin', 222), ('Show', 204), ('Church', 201), ('Is', 198), ('Prices', 189), ('May', 178), ('League', 168), ('Cup', 168), ('Wedding', 167), ('Be', 166), ('Winners', 163), ('With', 153), ('By', 152), ('Scots', 151), ('Shipping', 148), ('Was', 144), ('Will', 142), ('School', 141), ('Livestock', 129), ('Dead', 129), ('Golf', 129), ('Broughty', 126), ('Dies', 125), ('Win', 125), ('Bride', 116), ('Bus', 116), ('Draw', 114), ('Wins', 114), ('Gets', 114), ('After', 114), ('St', 113), ('More', 112), ('Years', 110), ('Courier', 110), ('Advertiser', 110), ('Two', 109), ('Sale', 108), ('His', 107), ('Home', 107), ('Movements.', 106), ('Mearns', 104), ('It', 104), ('Stock', 101), ('Angus,', 101), ('Woman', 100), ('Police', 100), ('Three', 99), ('Out', 97), ('House', 97), ('Club', 97), ('Up', 96), ('Men', 96), ('Officials', 95), ('Get', 94), ('Road', 94), ('No', 92), ('Final', 90), ('Last', 89), ('Crash', 88), ('Glasgow', 88), ('Fined', 88), ('Driver', 87), ('Post', 86), ('Rugby', 86), ('Car', 86), ('Old', 85), ('Down', 85), ('Former', 85), ('Hockey', 84), ('Record', 84), ('Title', 83), ('To-day', 82), ('Day', 82), ('First', 81), ('Homing', 81), ('Junior', 81), ('Have', 80), ('Jute', 79), ('Mr', 78), ('Off', 78), ('This', 78), ('Perthshire', 78), ('Dens', 77), ('Hurt', 77), ('Weds', 75), ('Boy', 75), ('Centre', 74), ('Work', 72), ('Guide', 71), ('Carnoustie', 71), ('Fire', 71), ('Farmers', 71), ('Big', 71), ('Company', 70), ('Business', 70), ('Minister', 69), ('Found', 69), ('Bowling', 69), ('All', 69), ('Young', 68), ('Says', 65), ('Back', 65), ("Dundee's", 65), ('Field', 64), ('United', 64), ('East', 64), ('News', 63), ('Court', 63), ('Well-known', 63), ('Form', 62), ('Four', 62), ('Tay', 61), ('Monifieth', 61), ('Tie', 60), ('They', 59), ('Park', 59), ('Girl', 59), ('Are', 59), ('Results', 58), ('Not', 58), ('Goes', 58), ('Midlands', 58), ('Can', 58), ('County', 57), ('Their', 57), ('Go', 57), ('Union', 56), ('Harp', 56), ('Games', 56), ('Team', 55), ('Sales', 55), ('Over', 55), ('Andrews', 54), ('Best', 54), ('Takes', 53), ('Trial', 53), ('Way', 53), ('As', 53), ('Claim', 53), ('Champion', 53), ('Sign', 53), ('Had', 52), ('End', 52), ('Test', 52), ('Teacher', 52), ('Honours', 51), ('Service', 51), ('Queen', 50), ('Make', 50), ('Kirrie', 49), ('Art', 49), ('Housing', 48), ("To-day's", 48), ('Holiday', 48), ('Year', 47), ('Family', 47), ('Honoured', 47), ('Farmer', 46), ('Time', 46), ('Tram', 46), ('Lead', 46), ('Top', 46), ('Too', 45), ('Teams', 44), ('Farm', 44), ('Night', 44), ('Council', 44), ('Osborne', 44), ('Fight', 44), ('Many', 44), ('Stobbie', 44), ('Round', 43), ('Now', 43), ('Bowling.', 43), ('Changes', 43), ('Licence', 43), ('Folk', 43), ('He', 43), ('North', 43), ('Five', 43)]

In [4]:
rank=data.copy(deep=True)
rank['freq'] = rank.groupby(data['place'])['place'].transform('count')
rank=rank.sort_values("freq",ascending=False)
rank=rank.loc[rank['freq']>50]
rank.head()

       place      lat    long                      title        date  freq
0     Dundee  56.4584 -2.9737  Socialist Window-Dressing  1950-01-03  2439
9907  Dundee  56.4584 -2.9737       Glasgow Stock Prices  1950-08-30  2439
9956  Dundee  56.4584 -2.9737    Effie In The Swim Again  1950-08-31  2439
2686  Dundee  56.4584 -2.9737       Glasgow Stock Prices  1950-03-08  2439
9947  Dundee  56.4584 -2.9737     Daisy Was A Heartbreak  1950-08-31  2439

In [5]:
rank2=rank.drop_duplicates(subset='place', keep='first', inplace=False)
rank2.reset_index(drop=True, inplace=True)
rank2

,place,lat,long,title,date,freq
0,Dundee,56.4584,-2.9737,Socialist Window-Dressing,1950-01-03,2439
1,Arbroath,56.5623,-2.5841,Arbroath Bride For Navyman,1950-07-31,1113
2,Forfar,56.6441,-2.8890,In Firm'S London,1950-05-13,916
3,Montrose,56.7092,-2.4672,Angus Police Sports Officials,1950-04-07,760
4,Brechin,56.7322,-2.6603,Ninety-Nine To-Day,1950-03-23,677
5,Carnoustie,56.5014,-2.7090,North End Bank On Amateurs,1950-12-15,460
6,Monifieth,56.4831,-2.8161,Tug-Of-War Over New Bailieships,1950-05-06,307
7,Broughty Ferry,56.4674,-2.8761,Round-Trip Bus To Broughty,1950-06-20,265
8,Kirriemuir,56.6731,-3.0045,Thistle On Top,1950-06-17,232
9,Tannadice,56.7124,-2.8591,"The Threat Behind Irish Football ""Split""",1950-10-18,143
10,Glamis,56.6084,-3.0038,Angus Police Promotions,1950-01-27,119
11,Craigie,56.4777,-2.9307,Back To School At Perth,1950-08-30,117
12,Edzell,56.8097,-2.6557,Main Roads Blocked For Days Yet,1950-12-05,117
13,Tayport,56.4465,-2.8800,Homing,1950-08-15,112
14,East End,56.8287,-2.2822,The Old Game In Korea,1950-06-27,93
15,St Cyrus,56.7740,-2.4177,Mearns School Ban On Potato Lifters,1950-07-06,77
16,Invergowrie,56.4596,-3.0621,Was World Champion Sprinter,1950-09-11,77
17,Barnhill,56.4747,-2.8575,Spike In Cable Causes Dundee Power Breakdown,1950-12-13,73
18,Kingsway,56.4827,-2.9706,Flyers Hold On To Lead,1950-09-28,60
19,Johnshaven,56.7945,-2.3365,Harp'S Sup May Cost Them Title,1950-03-13,60
20,Longforgan,56.4575,-3.1177,Honours List Means Five By-Elections,1950-01-03,60
21,Wormit,56.4241,-2.9809,Contributors To R.S.A. Exhibition,1950-04-21,57
22,Elliot Road,56.4619,-3.0197,Derby Day In Midlands,1950-01-06,56
23,Beechwood Park,56.5038,-2.7248,Tonights Teams,1950-06-06,53

In [6]:
dataDundee = data[data['place']=='Dundee'].copy()
dataDundee['Dundee'] = dataDundee.groupby('date')['date'].transform(len)
dataDundee = dataDundee.drop_duplicates(['date'], keep='first')
dataDundee = dataDundee.set_index(['date'])

dataArbroath = data[data['place']=='Arbroath'].copy()
dataArbroath['Arboath'] = dataArbroath.groupby('date')['date'].transform(len)
dataArbroath = dataArbroath.drop_duplicates(['date'], keep='first')
dataArbroath = dataArbroath.set_index(['date'])

dataForfar = data[data['place']=='Forfar'].copy()
dataForfar['Forfar'] = dataForfar.groupby('date')['date'].transform(len)
dataForfar = dataForfar.drop_duplicates(['date'], keep='first')
dataForfar = dataForfar.set_index(['date'])

dataMontrose = data[data['place']=='Montrose'].copy()
dataMontrose['Montrose'] = dataMontrose.groupby('date')['date'].transform(len)
dataMontrose = dataMontrose.drop_duplicates(['date'], keep='first')
dataMontrose = dataMontrose.set_index(['date'])

dataBrechin = data[data['place']=='Brechin'].copy()
dataBrechin['Brechin'] = dataBrechin.groupby('date')['date'].transform(len)
dataBrechin = dataBrechin.drop_duplicates(['date'], keep='first')
dataBrechin = dataBrechin.set_index(['date'])

dataCarnoustie = data[data['place']=='Carnoustie'].copy()
dataCarnoustie['Carnoustie'] = dataCarnoustie.groupby('date')['date'].transform(len)
dataCarnoustie = dataCarnoustie.drop_duplicates(['date'], keep='first')
dataCarnoustie = dataCarnoustie.set_index(['date'])

dataMonifieth = data[data['place']=='Monifieth'].copy()
dataMonifieth['Monifieth'] = dataMonifieth.groupby('date')['date'].transform(len)
dataMonifieth = dataMonifieth.drop_duplicates(['date'], keep='first')
dataMonifieth = dataMonifieth.set_index(['date'])

dataBroughtyFerry = data[data['place']=='Broughty Ferry'].copy()
dataBroughtyFerry['BroughtyFerry'] = dataBroughtyFerry.groupby('date')['date'].transform(len)
dataBroughtyFerry = dataBroughtyFerry.drop_duplicates(['date'], keep='first')
dataBroughtyFerry = dataBroughtyFerry.set_index(['date'])

dataKirriemuir = data[data['place']=='Kirriemuir'].copy()
dataKirriemuir['Kirriemuir'] = dataKirriemuir.groupby('date')['date'].transform(len)
dataKirriemuir = dataKirriemuir.drop_duplicates(['date'], keep='first')
dataKirriemuir = dataKirriemuir.set_index(['date'])

dataTannadice = data[data['place']=='Tannadice'].copy()
dataTannadice['Tannadice'] = dataTannadice.groupby('date')['date'].transform(len)
dataTannadice = dataTannadice.drop_duplicates(['date'], keep='first')
dataTannadice = dataTannadice.set_index(['date'])

dataGlamis = data[data['place']=='Glamis'].copy()
dataGlamis['Glamis'] = dataGlamis.groupby('date')['date'].transform(len)
dataGlamis = dataGlamis.drop_duplicates(['date'], keep='first')
dataGlamis = dataGlamis.set_index(['date'])

dataCraigie = data[data['place']=='Craigie'].copy()
dataCraigie['Craigie'] = dataCraigie.groupby('date')['date'].transform(len)
dataCraigie = dataCraigie.drop_duplicates(['date'], keep='first')
dataCraigie = dataCraigie.set_index(['date'])

dataEdzell = data[data['place']=='Edzell'].copy()
dataEdzell['Edzell'] = dataEdzell.groupby('date')['date'].transform(len)
dataEdzell = dataEdzell.drop_duplicates(['date'], keep='first')
dataEdzell = dataEdzell.set_index(['date'])

dataTayport = data[data['place']=='Tayport'].copy()
dataTayport['Tayport'] = dataTayport.groupby('date')['date'].transform(len)
dataTayport = dataTayport.drop_duplicates(['date'], keep='first')
dataTayport = dataTayport.set_index(['date'])

dataEastEnd = data[data['place']=='East End'].copy()
dataEastEnd['EastEnd'] = dataEastEnd.groupby('date')['date'].transform(len)
dataEastEnd = dataEastEnd.drop_duplicates(['date'], keep='first')
dataEastEnd = dataEastEnd.set_index(['date'])

dataStCyrus = data[data['place']=='St Cyrus'].copy()
dataStCyrus['StCyrus'] = dataStCyrus.groupby('date')['date'].transform(len)
dataStCyrus = dataStCyrus.drop_duplicates(['date'], keep='first')
dataStCyrus = dataStCyrus.set_index(['date'])

dataInvergowrie = data[data['place']=='Invergowrie'].copy()
dataInvergowrie['Invergowrie'] = dataInvergowrie.groupby('date')['date'].transform(len)
dataInvergowrie = dataInvergowrie.drop_duplicates(['date'], keep='first')
dataInvergowrie = dataInvergowrie.set_index(['date'])

dataBarnhill = data[data['place']=='Barnhill'].copy()
dataBarnhill['Barnhill'] = dataBarnhill.groupby('date')['date'].transform(len)
dataBarnhill = dataBarnhill.drop_duplicates(['date'], keep='first')
dataBarnhill = dataBarnhill.set_index(['date'])

dataKingsway = data[data['place']=='Kingsway'].copy()
dataKingsway['Kingsway'] = dataKingsway.groupby('date')['date'].transform(len)
dataKingsway = dataKingsway.drop_duplicates(['date'], keep='first')
dataKingsway = dataKingsway.set_index(['date'])

dataJohnshaven = data[data['place']=='Johnshaven'].copy()
dataJohnshaven['Johnshaven'] = dataJohnshaven.groupby('date')['date'].transform(len)
dataJohnshaven = dataJohnshaven.drop_duplicates(['date'], keep='first')
dataJohnshaven = dataJohnshaven.set_index(['date'])

dataLongforgan = data[data['place']=='Longforgan'].copy()
dataLongforgan['Longforgan'] = dataLongforgan.groupby('date')['date'].transform(len)
dataLongforgan = dataLongforgan.drop_duplicates(['date'], keep='first')
dataLongforgan = dataLongforgan.set_index(['date'])

dataWormit = data[data['place']=='Wormit'].copy()
dataWormit['Wormit'] = dataWormit.groupby('date')['date'].transform(len)
dataWormit = dataWormit.drop_duplicates(['date'], keep='first')
dataWormit = dataWormit.set_index(['date'])

dataElliotRoad = data[data['place']=='Elliot Road'].copy()
dataElliotRoad['ElliotRoad'] = dataElliotRoad.groupby('date')['date'].transform(len)
dataElliotRoad = dataElliotRoad.drop_duplicates(['date'], keep='first')
dataElliotRoad = dataElliotRoad.set_index(['date'])

dataBeechwoodPark = data[data['place']=='Beechwood Park'].copy()
dataBeechwoodPark['BeechwoodPark'] = dataBeechwoodPark.groupby('date')['date'].transform(len)
dataBeechwoodPark = dataBeechwoodPark.drop_duplicates(['date'], keep='first')
dataBeechwoodPark = dataBeechwoodPark.set_index(['date'])

FreqPlace = pd.concat([dataArbroath['Arboath'],
                       dataForfar['Forfar'],dataMontrose['Montrose'],
                       dataBrechin['Brechin'],dataCarnoustie['Carnoustie'],
                       dataMonifieth['Monifieth'],dataBroughtyFerry['BroughtyFerry'],
                       dataKirriemuir['Kirriemuir'],dataTannadice['Tannadice'],
                       dataGlamis['Glamis'],dataCraigie['Craigie'],
                       dataEdzell['Edzell'],dataTayport['Tayport'],
                       dataEastEnd['EastEnd'],dataStCyrus['StCyrus'],
                       dataInvergowrie['Invergowrie'],dataBarnhill['Barnhill'],
                       dataKingsway['Kingsway'],dataJohnshaven['Johnshaven'],
                       dataLongforgan['Longforgan'],dataWormit['Wormit'],
                       dataElliotRoad['ElliotRoad'],dataBeechwoodPark['BeechwoodPark']
                      ], axis=1)

In [7]:
rank=rank.sort_values(["date"],ascending=True)
rank.head()

       place      lat    long                        title        date  freq
0     Dundee  56.4584 -2.9737    Socialist Window-Dressing  1950-01-03  2439
75    Dundee  56.4584 -2.9737   Sailed With Dundee Whalers  1950-01-03  2439
9   Montrose  56.7092 -2.4672  St Cyras Tallest Brides Tie  1950-01-03   760
69  Montrose  56.7092 -2.4672               To-Day'S Games  1950-01-03   760
60  Montrose  56.7092 -2.4672  What A New Year For Hearts!  1950-01-03   760

In [9]:
#manual check the sports title
#rank.loc[data['title'].str.contains('Putter')]
#rank.loc[data['title'].str.contains('Sport')]
#rank.loc[data['title'].str.contains('Sport')]
#rank.loc[data['title'].str.contains('Runner')]
#rank.loc[data['title'].str.contains('Curling')]
#rank.loc[data['title'].str.contains('Injured Keeper')]
#rank.loc[data['title'].str.contains('Football')]
#rank.loc[data['title'].str.contains('Record')]
#rank.loc[data['title'].str.contains('Run')]
#rank.loc[data['title'].str.contains('Rivals')]
#rank.loc[data['title'].str.contains('Skating')]
rank.loc[data['title'].str.contains('Amateurs')]
#rank.loc[data['title'].str.contains('')]
#rank.loc[data['title'].str.contains('')]
#rank.loc[data['title'].str.contains('')]
#rank.loc[data['title'].str.contains('')]
#rank.loc[data['title'].str.contains('')]
#rank.loc[data['title'].str.contains('')]
#rank.loc[data['title'].str.contains('')]
#rank.loc[data['title'].str.contains('')]
#rank.loc[data['title'].str.contains('')]
#rank.loc[data['title'].str.contains('')]

,place,lat,long,title,date,freq
1588,Monifieth,56.4831,-2.8161,Monifieth Amateurs Beat Professionals,1950-02-13,307
1589,Dundee,56.4584,-2.9737,Monifieth Amateurs Beat Professionals,1950-02-13,2439
2646,St Cyrus,56.7740,-2.4177,A New Deal For Amateurs,1950-03-07,77
2851,Tayport,56.4465,-2.8800,300-Mile Trip For Leuchars Amateurs,1950-03-15,112
4326,Dundee,56.4584,-2.9737,"Amateurs' ""Semi"" Undecided",1950-04-22,2439
4325,Craigie,56.4777,-2.9307,"Amateurs' ""Semi"" Undecided",1950-04-22,117
14278,Broughty Ferry,56.4674,-2.8761,Puzzle Play By Broughty Amateurs,1950-11-30,265
15164,Carnoustie,56.5014,-2.7090,North End Bank On Amateurs,1950-12-15,460
15168,East End,56.8287,-2.2822,North End Bank On Amateurs,1950-12-15,93
15167,Forfar,56.6441,-2.8890,North End Bank On Amateurs,1950-12-15,916
15165,Beechwood Park,56.5038,-2.7248,North End Bank On Amateurs,1950-12-15,53

In [10]:
sport=rank[(rank['title'].str.contains('League')) | (rank['title'].str.contains('Cup')) |
(rank['title'].str.contains('Winners')) | (rank['title'].str.contains('Golf')) |
(rank['title'].str.contains('Rugby')) | (rank['title'].str.contains('Hockey')) |
(rank['title'].str.contains('Bowling')) | (rank['title'].str.contains('Champion')) |
(rank['title'].str.contains('Putter')) | (rank['title'].str.contains('Sport')) |
(rank['title'].str.contains('Soccer')) | (rank['title'].str.contains('Spot-Kick')) |
(rank['title'].str.contains('Runner')) | (rank['title'].str.contains('Ten-A-Side At Forfar')) |
(rank['title'].str.contains('Ex-Loon For Southampton')) | (rank['title'].str.contains('Curling')) |
(rank['title'].str.contains('Injured Keeper')) | (rank['title'].str.contains('Football')) |
(rank['title'].str.contains('Scotland Xv. Packs Scoring Punch')) | (rank['title'].str.contains('Unbeaten Records')) |
(rank['title'].str.contains('Swimmers')) | (rank['title'].str.contains('Brechin Blamed')) |
(rank['title'].str.contains('Boxers')) | (rank['title'].str.contains('Brechin Tiedecision')) |
(rank['title'].str.contains('Jeanfield Tie')) | (rank['title'].str.contains('Cricketer')) |
(rank['title'].str.contains('Panmure V. Howe')) | (rank['title'].str.contains('Promotion Rivals')) |
(rank['title'].str.contains('Skating')) | (rank['title'].str.contains('Top Place Is Prize For Scots Win')) |
(rank['title'].str.contains('Quick-Fire Lions')) | (rank['title'].str.contains('Fred Davis')) |
(rank['title'].str.contains('Monifieth Amateurs Beat Professionals')) | (rank['title'].str.contains('Cricket')) |
(rank['title'].str.contains('Bowlers')) | (rank['title'].str.contains('Class Haters')) |
(rank['title'].str.contains('Scottish Players')) | (rank['title'].str.contains('Referee')) |
(rank['title'].str.contains('Badminton')) | (rank['title'].str.contains(' âSevensâ Tourney')) |
(rank['title'].str.contains('Playing Field')) | (rank['title'].str.contains("King'S Teams")) |
(rank['title'].str.contains('Semi-Final')) | (rank['title'].str.contains('Badminton')) | 
(rank['title'].str.contains('Tennis'))| (rank['title'].str.contains('T.A. Torrance')) |
(rank['title'].str.contains('Qualifiers')) | (rank['title'].str.contains('Broughty Regatta')) |
(rank['title'].str.contains('Motor Cycle Race'))
]
# åªçå°8æåºæ¨é¡çæ¸æï¼æç¢ºèªæ¯éåçï¼ä¸é¢æ¯å¦æè¦åå°æ¾æ¨é¡ï¼å¯ä»¥åè¤è£½ä¸å»
#

# | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains('')) |
#(rank['title'].str.contains('')) | (rank['title'].str.contains(''))
#(rank['title'].str.contains('')) | (rank['title'].str.contains(''))
#(rank['title'].str.contains('')) | (rank['title'].str.contains(''))
sport

,place,lat,long,title,date,freq
6,Arbroath,56.5623,-2.5841,Injured Keeper Off To-Day,1950-01-03,1113
49,Brechin,56.7322,-2.6603,Perthshire Runner Fails By A Yard,1950-01-03,677
72,Forfar,56.6441,-2.8890,Ten-A-Side At Forfar,1950-01-03,916
73,Arbroath,56.5623,-2.5841,Ten-A-Side At Forfar,1950-01-03,1113
5,Forfar,56.6441,-2.8890,Injured Keeper Off To-Day,1950-01-03,916
71,Montrose,56.7092,-2.4672,Spot-Kick Downs Cowden,1950-01-03,760
56,Arbroath,56.5623,-2.5841,Golf Returns,1950-01-03,1113
95,Carnoustie,56.5014,-2.7090,Putter Tourney Opens To-Day,1950-01-05,460
142,Brechin,56.7322,-2.6603,Ex-Loon For Southampton,1950-01-05,677
91,Tayport,56.4465,-2.8800,Ex-Soccer Stars Daughter Weds,1950-01-05,112
140,Forfar,56.6441,-2.8890,Ex-Loon For Southampton,1950-01-05,916
144,Montrose,56.7092,-2.4672,Ex-Loon For Southampton,1950-01-05,760
97,Broughty Ferry,56.4674,-2.8761,Curling.,1950-01-05,265
96,Arbroath,56.5623,-2.5841,Putter Tourney Opens To-Day,1950-01-05,1113
100,Glamis,56.6084,-3.0038,Curling.,1950-01-05,119
139,Monifieth,56.4831,-2.8161,Ex-Loon For Southampton,1950-01-05,307
98,Arbroath,56.5623,-2.5841,Curling.,1950-01-05,1113
132,Brechin,56.7322,-2.6603,Hockey Team For South Africa,1950-01-05,677
143,Arbroath,56.5623,-2.5841,Ex-Loon For Southampton,1950-01-05,1113
172,Invergowrie,56.4596,-3.0621,Midlands Amateur Cup Hopes,1950-01-06,77
192,Elliot Road,56.4619,-3.0197,Rugby Teams,1950-01-06,56
211,Brechin,56.7322,-2.6603,S.F.A. Agree But Say It'S Up To League,1950-01-06,677
209,Montrose,56.7092,-2.4672,S.F.A. Agree But Say It'S Up To League,1950-01-06,760
194,Forfar,56.6441,-2.8890,Rugby Teams,1950-01-06,916
210,Tannadice,56.7124,-2.8591,S.F.A. Agree But Say It'S Up To League,1950-01-06,143
274,Johnshaven,56.7945,-2.3365,Two Home WinsâAnd The League Is Wide Open,1950-01-07,60
276,Brechin,56.7322,-2.6603,To Day'S Games And Referees,1950-01-07,677
279,Arbroath,56.5623,-2.5841,Football Family Loses Father,1950-01-07,1113
332,Brechin,56.7322,-2.6603,Unbeaten Records Broken,1950-01-09,677
329,Arbroath,56.5623,-2.5841,Unbeaten Records Broken,1950-01-09,1113
...,...,...,...,...,...,...
15222,Tannadice,56.7124,-2.8591,Snowy Pitches Won'T Stop Football,1950-12-16,143
15219,Wormit,56.4241,-2.9809,Mid-Week Sport Ban Asked,1950-12-16,57
15225,Brechin,56.7322,-2.6603,Brechin Cricket Club Guests,1950-12-16,677
15223,Arbroath,56.5623,-2.5841,Snowy Pitches Won'T Stop Football,1950-12-16,1113
15218,Tayport,56.4465,-2.8800,Mid-Week Sport Ban Asked,1950-12-16,112
15332,Tannadice,56.7124,-2.8591,Tough Going At Top In The B League,1950-12-18,143
15329,Carnoustie,56.5014,-2.7090,British Pros. Win Golf Test,1950-12-18,460
15331,Forfar,56.6441,-2.8890,Tough Going At Top In The B League,1950-12-18,916
15328,Monifieth,56.4831,-2.8161,British Pros. Win Golf Test,1950-12-18,307
15335,Monifieth,56.4831,-2.8161,Now For Make-Or-Break Run In The League,1950-12-18,307
15330,Craigie,56.4777,-2.9307,British Pros. Win Golf Test,1950-12-18,117
15333,Arbroath,56.5623,-2.5841,Tough Going At Top In The B League,1950-12-18,1113
15334,Carnoustie,56.5014,-2.7090,Now For Make-Or-Break Run In The League,1950-12-18,460
15426,St Cyrus,56.7740,-2.4177,Kincardine Junior League.,1950-12-19,77
15427,Forfar,56.6441,-2.8890,League Guide To Form,1950-12-19,916
15484,Elliot Road,56.4619,-3.0197,Hockey,1950-12-21,56
15482,Broughty Ferry,56.4674,-2.8761,Bowlers Elect New President,1950-12-21,265
15492,Carnoustie,56.5014,-2.7090,Loss To Midlands Golf,1950-12-21,460
15550,Arbroath,56.5623,-2.5841,Seconds Out For The Second Round In League Battle,1950-12-22,1113
15621,Arbroath,56.5623,-2.5841,Curling,1950-12-23,1113
15620,Glamis,56.6084,-3.0038,Curling,1950-12-23,119
15687,Carnoustie,56.5014,-2.7090,Golf Match With Job As Prize,1950-12-28,460
15737,Forfar,56.6441,-2.8890,Sunday Training For Stobbie Cup-Fighters,1950-12-29,916
15723,Montrose,56.7092,-2.4672,Champion Janitor 60 Years Wed,1950-12-29,760
15735,Montrose,56.7092,-2.4672,Sunday Training For Stobbie Cup-Fighters,1950-12-29,760
15734,Johnshaven,56.7945,-2.3365,Sunday Training For Stobbie Cup-Fighters,1950-12-29,60
15733,Beechwood Park,56.5038,-2.7248,Sunday Training For Stobbie Cup-Fighters,1950-12-29,53
15732,Carnoustie,56.5014,-2.7090,Sunday Training For Stobbie Cup-Fighters,1950-12-29,460
15812,Forfar,56.6441,-2.8890,Curling.,1950-12-30,916
15811,Arbroath,56.5623,-2.5841,Curling.,1950-12-30,1113

In [17]:
#sport.loc[sport['date'].str.contains('1950-01')].shape[0] #82
#sport.loc[sport['date'].str.contains('1950-02')].shape[0] #79
#sport.loc[sport['date'].str.contains('1950-03')].shape[0] #76
#sport.loc[sport['date'].str.contains('1950-04')].shape[0] #60
#sport.loc[sport['date'].str.contains('1950-05')].shape[0] #80
sport.loc[sport['date'].str.contains('1950-06')].shape[0] #109 --->the most
#sport.loc[sport['date'].str.contains('1950-07')].shape[0] #89
#sport.loc[sport['date'].str.contains('1950-08')].shape[0] #103 --->æ¬¡å¤
#sport.loc[sport['date'].str.contains('1950-09')].shape[0] #103 --->æ¬¡å¤
#sport.loc[sport['date'].str.contains('1950-10')].shape[0] #57
#sport.loc[sport['date'].str.contains('1950-11')].shape[0] #76
#sport.loc[sport['date'].str.contains('1950-12')].shape[0] #69

109